.card {
	width: auto;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	border-bottom: 1px solid black;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	margin-top: 5px;
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-top: 1px solid black;
}

.status {
	font-weight: bold;
}

.total {
	font-weight: bold;
}

.items ul {
	list-style: none;
	margin-top: 20px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.items li {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-right: 20px;
}

.item-image {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.item-details {
	display: auto;
	flex-direction: column;
	align-items: flex-start;
}

.name {
	font-weight: bold;
}

.quantity {
	margin: 0 10px;
}

.price {
	font-weight: bold;
}

.customer-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.items-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-number {
	font-weight: bold;
}

.btn {
	padding: 5px 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.reject-btn {
	background-color: red;
	color: white;
}

.accept-btn {
	background-color: green;
	color: white;
}

.btn:hover {
	background-color: rgb(0, 0, 0);
	color: white;
}

.btn:active {
	transform: scale(0.95);
}

.flex-container {
	display: flex;
	gap: 50px;
}

.items-start {
	display: flex;
}

.item-details > div {
	display: flex;
}
